// Favicons
link(href=SITE_URL+'public/icons/apple-touch-icon.png' rel='apple-touch-icon' sizes='180x180' )
link(href=SITE_URL+'public/icons/favicon-32x32.png' rel='icon' type='image/png' sizes='32x32' )
link(href=SITE_URL+'public/icons/favicon-16x16.png' rel='icon' type='image/png' sizes='16x16' )
link(href=SITE_URL+'public/site.webmanifest' rel='manifest' )
link(href=SITE_URL+'public/icons/safari-pinned-tab.svg' rel='mask-icon' color='#5bbad5')
link(href=SITE_URL+'public/favicon.ico' rel='shortcut icon')
meta(name='msapplication-TileColor' content='#da532c')
meta(content=SITE_URL+'public/browserconfig.xml' name='msapplication-config' )
meta(name='theme-color' content='#ffffff')
